.about {
    display: flex;
    @include tablet {
        flex-direction: column;
    }
}

.about__main {
    background: #EBEFE2;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3% 3% 2% 7%;

    @include laptop {
        padding: 5% 1% 15% 1%;
        align-items: center;
        flex-direction: column;
    }

    @include tablet {
        width: 100%;
        height: 830px;
        align-items: center;
        padding: 3% 0% 5% 0%;
        
    }

    @include phone {
        height: 900px;
        padding: 3% 0% 7% 0%;
    }

    &__title {
        @include laptop {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__txt {
            text-align: center;
            @include large-title($black);

            &::before {
                content: ' ';
                background-image: url('../../img/icons/about_header-g.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                position: absolute;
                opacity: 0.1;
                left: -30%;
                top: -55%;
                height: 170%;
                width: 170%;

                @include laptop {
                    left: -30%;
                    top: -50%;
                    width: 170%;
                    height: 170%;
                }
            }
        }
        
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
        width: 55%;
        @include tablet {
            height: 85%;
        }
        @include phone {
            width: 100%;
            height: 88%;
        }

        &__photo{
            background: url('../../img/photos/Im.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            max-height: 60%;
            min-height: 55%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__desc {
            display: flex;
            height: 50%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            @include tablet {
                height: 40%;
            }
            @include phone {
                height: 42%;
            }
            &__title {
                @include small-title($grey);
            }

            &__txt {
                @include main-txt ($grey);
                text-align: left;
                @include laptop {
                    width: 165%;
                }
                @include tablet {
                    width: 80%;
                }
            }
        }
    }
}

.about__skills {
    background: #F4F5F0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3% 0% 2% 3%;
    border: 5px solid black;

    @include laptop {
        padding: 5% 1% 5% 4%;
        justify-content: center;
    }

    @include tablet {
        width: 100%;
        height: 815px;  
        padding: 0% 0% 0% 0%;
    }

    @include phone {
        height: 1175px;
        padding: 0% 5% 0% 7%;
    }

    &__title {
        @include small-title($grey);
    }

    &__info {
        @include main-txt ($grey);
        height: 80%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        border: 3px solid red;
      
        @include tablet {
            justify-content: space-evenly;
            align-items: center;
        }
        @include phone {
            height: 90%;
            width: 100%;
            justify-content: space-around;
        }

        &__desc {
            width: 80%;
            @include tablet {
                text-align: center;
            }
            @include phone {
                text-align: left;
                width: 100%;
            }
        }

        &__list {
            height: 90%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 3px dashed black;
            @include laptop {
                width: 90%;
                height: 76%;
            }
            @include tablet {
                width: 100%;
            }

            &__item {
                width: 100%;
                height: 30%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: 2px solid green;
                @include tablet {
                    align-items: center;
                }
                @include phone {
                    height: 297px;
                    justify-content: center;
                    align-content: space-between;
                }
                

                .skill {
                    display: flex;
                    justify-content: space-between;
                    width: 65%; 
                    border: 1px solid red;
                    @include phone {
                        width: 100%;
                        flex-flow: row wrap;
                    }

                    &--backend {
                        justify-content: space-between;
                        width: 90%;
                    }

                    &__item {
                        width: 111px;
                        height: 111px;
                        background: $g1;
                        border: 1px solid red;
                    }
                }

                &__title {
                    color: $grey;
                    font-family: robotomedium;
                    font-size: rem(28px);
                    border: 1px solid black;
                    @include tablet {
                        text-align: center;
                    }
                }
            }
        }
    }
}