.auth {
    width: 100vw;
    height: 100vh;
    background-image: url('../../img/bg/forest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.auth__main {
    width: 380px;
    height: 426px;
    background: rgba(18, 38, 32, .6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;

    &__dis {
        width: 100%;
        height: 88%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;

        &__title {
            font-family: sansus;
            font-size: 35px;
            color: white;
            text-transform: uppercase;
            position: relative;
        }

        .title-rectangle {
            transform: translate(75%, 12px);
            width: 89px;
            height: 3px;
            background-color: #ffffff;
        }

        &__form {
            height: 70%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__rows {
                height: 52%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &__row {
                    display: flex;
                    flex-direction: row;
                    height: 42%;

                    &__indicator {
                        height: 100%;
                        width: 12%;
                        background-color: #f0efe9;
                        border-top-left-radius: 25px;
                        border-bottom-left-radius: 25px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &__svg {
                            fill: rgb(180, 180, 180)
                        }
                    }

                    &__input {
                        width: 88%;
                        height: 100%;
                        border-top-right-radius: 25px;
                        border-bottom-right-radius: 25px;
                        outline: none;
                        border: none;
                        padding-left: 15px;
                        font-size: 16px;
                        font-family: roboto;
                        color: #373e42;
                        transition: .3s;
                    }
                }
            }

           .captcha {
               width: 100%;
               height: 40%;
               display: flex;
               flex-direction: column;
               justify-content: space-between;  

               &__human {
                   width: 100%;
                   display: flex;
                   align-items: center;

                   &__label {
                        color: white;
                        position: absolute;
                        left: 150%;
                        top: 0%;
                        opacity: 0.8;
                        color: #ffffff;
                        font-family: Roboto;
                        font-size: 16px;    
                        width: 370%;
                   }

                   &__checkbox {
                        position: absolute;
                        z-index: -1;
                        opacity: 0;
                        margin: 10px 0 0 20px;

                        & + label {
                            width: 22px;
                            height: 22px;
                            background: $g1;
                            border-radius: 3px;
                            cursor: pointer;
                            position: relative;
                            margin-left: 32%;
                        }

                        &:checked + label:after {
                            content: ' ';
                            background: url('../../img/icons/check.svg') no-repeat;
                            background-size: contain;
                            width: 12px;
                            height: 9px;
                            position: absolute;
                            top: 30%;
                            left: 25%;
                        }
                   }
               }

               &__ask {
                   width: 100%;
                   height: 62%;
                   display: flex;
                   flex-direction: column;
                   justify-content: space-between;
                   align-items: center;

                   &__title {
                        opacity: 0.8;
                        color: #ffffff;
                        font-family: Robotomedium;
                   }

                   &__answer {
                       display: flex;
                       justify-content: space-evenly;
                       width: 100%;

                       &__no {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        width: 33%;

                           &__label {
                            position: absolute;
                            left: 150%;
                            top: -10%;
                            opacity: 0.8;
                            color: #ffffff;
                            font-family: Roboto;
                            font-size: 16px;    
                            width: 400%;
                           }

                           &__radio {
                                position: absolute;
                                z-index: -1;
                                opacity: 0;
                                margin: 10px 0 0 20px;

                                & + label {
                                    width: 21px;
                                    height: 21px;
                                    border: 1px solid #cccccc;
                                    background-color: #ffffff;
                                    border-radius: 50%;
                                    cursor: pointer;
                                    position: relative;
                                }

                                &:checked + label::after {
                                    content: ' ';
                                    width: 15px;
                                    height: 15px;
                                    background-color: $g1;
                                    position: absolute;
                                    border-radius: 50%;
                                    top: 11%;
                                    left: 11%;
                                }
                           }
                       }

                       &__yes {
                        display: flex;
                        align-items: center;
                        width: 17%;

                           &__label {
                            position: absolute;
                            left: 150%;
                            top: -10%;
                            opacity: 0.8;
                            color: #ffffff;
                            font-family: Roboto;
                            font-size: 16px;
                           }

                           &__radio {
                                position: absolute;
                                z-index: -1;
                                opacity: 0;
                                margin: 10px 0 0 20px;

                                & + label {
                                    width: 21px;
                                    height: 21px;
                                    border: 1px solid #cccccc;
                                    background-color: #ffffff;
                                    border-radius: 50%;
                                    cursor: pointer;
                                    position: relative;
                                }

                                &:checked + label::after {
                                    content: ' ';
                                    width: 15px;
                                    height: 15px;
                                    background-color: $g1;
                                    position: absolute;
                                    border-radius: 50%;
                                    top: 11%;
                                    left: 11%;
                                }
                            }
                        }
                   }
               }
           }
        }
    }

    &__btns {
        width: 100%;
        height: 12%;
        display: flex;

        &__btn {
            height: 100%;
            width: 100%;
            background: $g2;
            transition: .3s;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: robotomedium;

            &--bordered {
                border-left: 2px solid white;
            }

            &:hover {
                background: $g1;
            }
        }
    }
}

.author {
    position: absolute;
    bottom: 5%;
    color: white;
    font-family: Roboto;
    font-size: 16px;
}