.feed {
    height: rem(1245px);
    display: flex;
    flex-direction: column;
    position: relative;
}

.feed__main {
    background-image: url('../../img/bg/feedback.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed__wrap {
    height: 83%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @include tablet {
        height: 78%;
    }

}

.feed__title {
    height: rem(170px);
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__txt {
        @include large-title($black);

        &::before {
            content: ' ';
            background-image: url('../../img/icons/about_header-g.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            opacity: .1;
            left: 0%;
            top: -15%;
            height: 140%;
            width: 100%;
        }
    }
}

.feed__list {
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 27%;
    @include desktop {
        width: 75%;
    }
    @include tablet {
        width: 90%;
    }

    &__item {
        display: flex;
        width: 49%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @include tablet {
            width: 47%;
        }

        &::before {
            content: ' ';
            position: absolute;
            height: 55%;
            width: 55%;
            top: 22%;
            left: -16%;
            opacity: .2;
            background-image: url('../../img/icons/quotes.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &__photo {
            overflow: hidden;

            &-pic {
                border-radius: 150%;
                width: rem(100px);
                height: rem(100px);
            }
        }

        &__txt {
            display: flex;
            height: 50%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            &__phrase {
                @include main-txt ($black);
                font-family: robotoitalic;
            }

            &__desc__author {
                @include main-txt ($g1);
                font-family: robotobold_italic;
            }

            &__desc__whois {
                @include main-txt ($black);
                font-family: robotoitalic;
            }
        }
    }
}

.form {
    width: 25%;
    height: 50%;
    background-color:  rgba(218, 219, 214, .5);
    border-radius: rem(7px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    @include desktop {
        width: 32%;   
    }
    @include tablet {
        width: 45%;
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;

        &__label {
            @include small-title($grey);
        }
    }

    &__inputs {
        height: 60%;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__field {
            opacity: .85;
            border-radius: rem(25px);
            width: 100%;
            height: 17%;
            padding: 5% 5% 5% 7%;
            border: none;
            outline: none;
            @include main-txt($black);
            border: rem(2px) solid transparent;
            transition: .3s;

            &:focus {
                border: rem(2px) solid $g1;
            }
        }

        #msg {
            resize: none;
            height: 50%;
            border-radius: rem(25px);
            line-height: 1.6;
        }
    }

    &__btns {
        display: flex;
        height: 10%;
        width: 100%;

        &__btn {
            height: 100%;
            width: 50%;
            background: $g1;
            transition: .3s;
            cursor: pointer;
            @include main-txt(white);
            opacity: .8;
            border: none;
            outline: none;

            &:first-child {
                border-right: rem(2px) solid white;
            }

            &:hover {
                background: $g2;
            }
        }
    }
}

.feed__leaves-pic {
    position: absolute;
    
    &--1 {
        position: absolute;
        top: 25%;
        left: 25%;
    }

    &--2 {
        position: absolute;
        top: -8%;
        left: 15%;
    }

    &--3 {
        position: absolute;
        top: 30%;
        right: 10%;
    }
}