.hero {
    width: 100vw;
    height: 100vh;
    background-image: url('../../img/bg/forest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &--blog { 
        width: 100vw;
        height: 65vh; 
        background-size: cover;
    }

    &--about::after {
        content: ' ';
        position: absolute;
        height: 40%;
        width: 100%;
        top: 20%;
        background-image: url('../../img/icons/about_header-w.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        opacity: .2;   
        
        @include laptop {
            height: 80%;
            width: 80%;
            top: 5%;
        }
    }

    &--works::after {
        content: ' ';
        position: absolute;
        height: 40%;
        width: 100%;
        top: 20%;
        background-image: url('../../img/icons/portfolio_header.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        opacity: .2;

        @include laptop {
            height: 85%;
            width: 85%;
            top: 5%;
        }
    }
}

.header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5% 0 2.5%;
    @include tablet {
        padding: 0 5.7% 0 5.7%;
    }
    @include phone {
        padding: 1% 6% 0% 6%
    }

    &--blog {
        height: 15%;
    }

    .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;

        &-svg {
            margin-right: rem(20px);
            transition: .2s;
            fill: white;
            @include phone {
                width: 65%;
                height: 65%;
            }

            &:hover {
                opacity: .7;
            }
        }
    }

    &__menu {   
        transition: .3s;
    
        #burger-menu {
            @include phone {
                width: 90%;
                height: 90%;
            }
        }
        
        &:hover {
            opacity: .7;
            cursor: pointer;
        }
    }
}

.hero__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .triangles-svg {
        position: absolute;
        
        .cls-1, .cls-2 {
            @include tablet {
                fill: #ebefe2;
            } 
        }

        .cls-1--works, .cls-2--works {
            @include tablet {
                fill: #f8f9f5;
            } 
        }

        .cls-1--blog, .cls-2--blog {
            @include tablet {
                fill: #F9F8F0;
            } 
        }
    }
}


.welcome__main__info__who--about {
    z-index: 10;
}

.hero__about-svg {
    width: 70%;
    height: 40%;
    fill: white;
    opacity: 0.35;
    z-index: -1;
    position: absolute;
    top: 20%;
}

.arrow-down {
    position: absolute;
    top: 90%;
    opacity: .5;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;

    &:hover {
        opacity: 1;
    }
}