.hero {
    width: 100vw;
    height: 100vh;
    background-image: url('../../img/bg/forest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &--blog { 
        width: 100vw;
        height: 50vh; 
        background-size: cover;
    }

    &--about::after {
        content: ' ';
        position: absolute;
        height: 40%;
        width: 100%;
        top: 20%;
        background-image: url('../../img/icons/about_header-w.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        opacity: .2;    
    }

    &--works::after {
        content: ' ';
        position: absolute;
        height: 40%;
        width: 100%;
        top: 20%;
        background-image: url('../../img/icons/portfolio_header.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        opacity: .2;
    }
}

.header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5% 0 2.5%;

    &--blog {
        height: 30%;
    }

    .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;

        &-svg {
            margin-right: 20px;
            transition: .2s;
            fill: white;

            &:hover {
                opacity: .7;
            }
        }
    }

    &__menu {
        border: 1px solid red;
        transition: .3s;
        
        &:hover {
            opacity: .7;
            cursor: pointer;
        }
    }
}

.hero__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .triangles-svg {
        position: absolute;
    }
}


.welcome__main__info__who--about {
    z-index: 10;

    &--blog {
        margin-bottom: 5%;
        height: 100%;
    }
}

.hero__about-svg {
    width: 70%;
    height: 40%;
    fill: white;
    opacity: 0.35;
    z-index: -1;
    position: absolute;
    top: 20%;
}