.map {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

#map {
    height: 100%;
    width: 100%;
}

.contacts {
    width: 20%;
    height: 35%;
    background-color: #f4f5f0;
    opacity: 0.85;
    position: absolute;
    top: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2% 1% 2% 1%;
    @include tablet {
        width: 40%;
        height: 27%;
    }

    &__title {
        @include small-title($black);
    }

    &__list {
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        @include tablet {
            height: 67%;
        }

        &__item {
            display: flex;
            color: $black;
            font-family: Roboto;
            font-size: rem(16px);

            &__icon {
                margin-right: 7%;
            }

            &__txt {
                color: $black;
            }
        }
    }
}

