.works {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    @include tablet {
        height: 100%;
    }
}

.works__title {
    height: 18%;
    width: 100%;
    background-color: #f8f9f5;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet {
        height: 130px;
    }

    &__txt {
        @include large-title($black);

        &::before {
            content: ' ';
            background-image: url('../../img/icons/works_header-g.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            height: 150%;
            width: 150%;
            top: -30%;
            opacity: .1;
            left: -25%;
        }
    }
}

.works__main {
    height: 82%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    @include tablet {
        flex-wrap: nowrap;
    }

    &__info {
        background-color: #ebefe2;
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include tablet {
            order: 2;
            width: 100%;
            height: 270px;
        }

        &__wrap {
            width: 40%;
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;

            @include desktop {
                height: 50%;

                @include tablet {
                    height: 70%;
                    width: 60%;
                }
            }
        }

        &__title {
            @include small-title($grey);
        }

        &__techs {
            @include main-txt ($g1);
            font-family: robotomedium;
            text-transform: uppercase;
        }

        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 15%;
            width: 60%;
            border-radius: rem(25px);
            background: $g2;
            transition: .3s;
            @include desktop {
                width: 85%;
            }

            @include laptop {
                width: 40%;
                height: 22%;
            }

            &:hover {
                background-color: $g1;
            }

            &__txt {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 80%;
            }

        }

    }


&__present {
    width: 50%;
    height: 70%;
    background: url('../../img/content/project-1.png');
    background-repeat: no-repeat;
    background-position: center;
    @include tablet {
        order: 1;
        width: 100%;
        height: 526px;
        background-color: #e1e4d7;
    }
}

    &__switch {
        height: 30%;
        width: 50%;
        display: flex;
        @include tablet {
            order: 3;
            width: 100%;
            height: 200px;
        }

        &__next {
            width: 50%;
            height: 100%;
            background: url('../../img/content/next.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &__previous {
            width: 50%;
            height: 100%;
            background: url('../../img/content/previous.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}