// responsive
@function rem($px) {
	@return $px / 16px+0rem;
}

//large title 
@mixin large-title($color) {
  font-family: sansus;
  font-size: rem(63px);
  color: $color;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  @include tablet {
    font-size: rem(48px);
  }

  &::after {
    content: ' ';
    background: $color;
    width: rem(89px);
    height: rem(3px);
    margin-top: 20px;
    // margin-bottom: 20px;
    @include tablet {
      margin-top: 10px;
      // margin-bottom: 15px;
    }
  }
}

//small title 
@mixin small-title($color) {
  font-family: sansus;
  font-size: rem(35px);
  color: $color;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include tablet {
    font-size: rem(31px);
  }

  &::after {
    content: ' ';
    background: $color;
    width: rem(89px);
    height: rem(3px);
    margin-top: 15px;
    // margin-bottom: 20px;
    @include tablet {
      margin-top: 7px;
      // margin-bottom: 15px;
    }
  }
}

//main txt 
@mixin main-txt ($color) {
  font-family: roboto;
  font-size: rem(16px);
  color: $color;
}

//txt accent
@mixin txt-accent {
  font-family: robotomedium;
  font-size: rem(16px);
  color: $green;
}

//link 
@mixin link {
  font-family: robotomedium;
  color: #6da3bd;
  text-decoration: underline;

  &:hover {
	  text-decoration: none;
  }
}