@charset "UTF-8";
html {
  font-size: 16px; }
  @media screen and (max-width: 1280px) {
    html {
      font-size: 16px; } }
  @media screen and (max-width: 1024px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 14px; } }
  @media screen and (max-width: 320px) {
    html {
      font-size: 14px; } }

body {
  margin: 0;
  padding: 0;
  font-family: roboto , Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

p {
  margin: 0; }

a {
  text-decoration: none;
  color: white; }

@font-face {
  font-family: 'awesome';
  src: url("../../fonts/fontawesome-webfont.woff2") format("woff2"), url("../../fonts/fontawesome-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotobold';
  src: url("../../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../../fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotobold_italic';
  src: url("../../fonts/roboto-bolditalic-webfont.woff2") format("woff2"), url("../../fonts/roboto-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoitalic';
  src: url("../../fonts/roboto-italic-webfont.woff2") format("woff2"), url("../../fonts/roboto-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight';
  src: url("../../fonts/roboto-light-webfont.woff2") format("woff2"), url("../../fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight_italic';
  src: url("../../fonts/roboto-lightitalic-webfont.woff2") format("woff2"), url("../../fonts/roboto-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotomedium';
  src: url("../../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../../fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotomedium_italic';
  src: url("../../fonts/roboto-mediumitalic-webfont.woff2") format("woff2"), url("../../fonts/roboto-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sansus';
  src: url("../../fonts/sansus-webissimo-regular-webfont.woff2") format("woff2"), url("../../fonts/sansus-webissimo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.wrapper {
  width: 100%;
  min-height: 650px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

section {
  height: 100vh;
  width: 100vw;
  position: relative; }
  @media screen and (max-width: 768px) {
    section {
      height: 100%; } }

.welcome {
  width: 100vw;
  height: 100vh;
  background-image: url("../../img/bg/forest.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.author {
  position: absolute;
  bottom: 5%;
  color: white;
  font-family: Roboto;
  font-size: 1rem;
  font-family: robotolight; }

.welcome__auth-btn {
  position: absolute;
  top: 5%;
  right: 3%;
  border: 0.0625rem solid white;
  border-radius: 1.5625rem;
  width: 11.25rem;
  height: 2.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: robotomedium;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .welcome__auth-btn:hover {
    background: #4e8839;
    border: 0.125rem solid #6c9c5a; }

.welcome__main {
  width: 23.75rem;
  height: 24.6875rem;
  background: rgba(18, 38, 32, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom-left-radius: 0.4375rem;
  border-bottom-right-radius: 0.4375rem;
  overflow: hidden; }
  .welcome__main__info {
    width: 100%;
    height: 88%;
    padding-top: 2.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .welcome__main__info__who {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .welcome__main__info__who__photo {
        width: 8.8125rem;
        height: 8.8125rem;
        overflow: hidden;
        border-radius: 50%;
        border: 0.0625rem solid #6c9c5a; }
        .welcome__main__info__who__photo__pic {
          max-width: 100%; }
      .welcome__main__info__who__name {
        color: #ffffff;
        font-family: robotomedium;
        font-size: 1.75rem;
        margin-top: 3%; }
        .welcome__main__info__who__name--blog {
          font-family: sansus;
          font-size: 3.9375rem;
          color: white;
          margin-top: 0px;
          margin-bottom: 13%;
          text-transform: uppercase;
          position: relative; }
          .welcome__main__info__who__name--blog::after {
            content: ' ';
            background: white;
            width: 5.5625rem;
            height: 0.1875rem;
            position: absolute;
            top: 107%;
            left: 15%; }
      .welcome__main__info__who__desc {
        opacity: 0.8;
        color: #ffffff;
        font-family: Roboto;
        font-size: 1rem; }
    .welcome__main__info__socials {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 35%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .welcome__main__info__socials__link {
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .welcome__main__info__socials__link .social-svg {
          -webkit-transition: .2s;
          -o-transition: .2s;
          transition: .2s;
          fill: white; }
          .welcome__main__info__socials__link .social-svg:hover {
            fill: #6c9c5a; }
  .welcome__main__nav {
    width: 100%;
    height: 12%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .welcome__main__nav__btn {
      width: 34%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: #6c9c5a;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      font-family: robotomedium; }
      .welcome__main__nav__btn--bordered {
        border-left: 0.0625rem solid white;
        border-right: 0.0625rem solid white; }
      .welcome__main__nav__btn:hover {
        background: #4e8839; }

.auth {
  width: 100vw;
  height: 100vh;
  background-image: url("../../img/bg/forest.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.auth__main {
  width: 23.75rem;
  height: 26.625rem;
  background: rgba(18, 38, 32, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom-left-radius: 0.4375rem;
  border-bottom-right-radius: 0.4375rem;
  overflow: hidden; }
  .auth__main__dis {
    width: 100%;
    height: 88%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 1.875rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.875rem; }
    .auth__main__dis__title {
      font-family: sansus;
      font-size: 2.1875rem;
      color: white;
      margin-bottom: 40px;
      text-transform: uppercase;
      position: relative; }
      .auth__main__dis__title::after {
        content: ' ';
        background: white;
        width: 5.5625rem;
        height: 0.1875rem;
        position: absolute;
        top: 120%;
        left: 30%; }
        @media screen and (max-width: 1280px) {
          .auth__main__dis__title::after {
            left: 33%; } }
    .auth__main__dis__form {
      height: 70%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .auth__main__dis__form__rows {
        height: 52%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .auth__main__dis__form__rows__row {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          height: 42%; }
          .auth__main__dis__form__rows__row__indicator {
            height: 100%;
            width: 12%;
            background-color: #f0efe9;
            border-top-left-radius: 1.5625rem;
            border-bottom-left-radius: 1.5625rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            .auth__main__dis__form__rows__row__indicator__svg {
              fill: #b4b4b4; }
          .auth__main__dis__form__rows__row__input {
            width: 88%;
            height: 100%;
            border-top-right-radius: 1.5625rem;
            border-bottom-right-radius: 1.5625rem;
            outline: none;
            border: none;
            padding-left: 0.9375rem;
            font-size: 1rem;
            font-family: roboto;
            color: #373e42;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            border: 0.125rem solid transparent; }
            .auth__main__dis__form__rows__row__input:focus {
              border: 0.125rem solid #6c9c5a; }
      .auth__main__dis__form .captcha {
        width: 100%;
        height: 40%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .auth__main__dis__form .captcha__human {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .auth__main__dis__form .captcha__human__label {
            color: white;
            position: absolute;
            left: 150%;
            top: 0%;
            opacity: 0.8;
            color: #ffffff;
            font-family: Roboto;
            font-size: 1rem;
            width: 370%; }
          .auth__main__dis__form .captcha__human__checkbox {
            position: absolute;
            z-index: -1;
            opacity: 0;
            margin: 0.625rem 0 0 1.25rem; }
            .auth__main__dis__form .captcha__human__checkbox + label {
              width: 1.375rem;
              height: 1.375rem;
              background: #4e8839;
              border-radius: 0.1875rem;
              cursor: pointer;
              position: relative;
              margin-left: 32%; }
            .auth__main__dis__form .captcha__human__checkbox:checked + label:after {
              content: ' ';
              background: url("../../img/icons/check.svg") no-repeat;
              background-size: contain;
              width: 0.75rem;
              height: 0.5625rem;
              position: absolute;
              top: 30%;
              left: 25%; }
        .auth__main__dis__form .captcha__ask {
          width: 100%;
          height: 62%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .auth__main__dis__form .captcha__ask__title {
            opacity: 0.8;
            color: #ffffff;
            font-family: Robotomedium; }
          .auth__main__dis__form .captcha__ask__answer {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
            width: 100%; }
            .auth__main__dis__form .captcha__ask__answer__no {
              width: 100%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              width: 33%; }
              .auth__main__dis__form .captcha__ask__answer__no__label {
                position: absolute;
                left: 150%;
                top: -10%;
                opacity: 0.8;
                color: #ffffff;
                font-family: Roboto;
                font-size: 1rem;
                width: 400%; }
              .auth__main__dis__form .captcha__ask__answer__no__radio {
                position: absolute;
                z-index: -1;
                opacity: 0;
                margin: 0.625rem 0 0 1.25rem; }
                .auth__main__dis__form .captcha__ask__answer__no__radio + label {
                  width: 1.3125rem;
                  height: 1.3125rem;
                  border: 0.0625rem solid #cccccc;
                  background-color: #ffffff;
                  border-radius: 50%;
                  cursor: pointer;
                  position: relative; }
                .auth__main__dis__form .captcha__ask__answer__no__radio:checked + label::after {
                  content: ' ';
                  width: 0.9375rem;
                  height: 0.9375rem;
                  background-color: #4e8839;
                  position: absolute;
                  border-radius: 50%;
                  top: 11%;
                  left: 11%; }
            .auth__main__dis__form .captcha__ask__answer__yes {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              width: 17%; }
              .auth__main__dis__form .captcha__ask__answer__yes__label {
                position: absolute;
                left: 150%;
                top: -10%;
                opacity: 0.8;
                color: #ffffff;
                font-family: Roboto;
                font-size: 1rem; }
              .auth__main__dis__form .captcha__ask__answer__yes__radio {
                position: absolute;
                z-index: -1;
                opacity: 0;
                margin: 0.625rem 0 0 1.25rem; }
                .auth__main__dis__form .captcha__ask__answer__yes__radio + label {
                  width: 1.3125rem;
                  height: 1.3125rem;
                  border: 0.0625rem solid #cccccc;
                  background-color: #ffffff;
                  border-radius: 50%;
                  cursor: pointer;
                  position: relative; }
                .auth__main__dis__form .captcha__ask__answer__yes__radio:checked + label::after {
                  content: ' ';
                  width: 0.9375rem;
                  height: 0.9375rem;
                  background-color: #4e8839;
                  position: absolute;
                  border-radius: 50%;
                  top: 11%;
                  left: 11%; }
  .auth__main__btns {
    width: 100%;
    height: 12%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .auth__main__btns__btn {
      height: 100%;
      width: 100%;
      background: #6c9c5a;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-family: robotomedium; }
      .auth__main__btns__btn--bordered {
        border-left: 0.125rem solid white; }
      .auth__main__btns__btn:hover {
        background: #4e8839; }

.author {
  position: absolute;
  bottom: 5%;
  color: white;
  font-family: Roboto;
  font-size: 1rem; }

.blog {
  background-color: #F9F8F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5% 7% 1% 5%; }
  .blog__nav {
    height: 100%;
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .blog__nav__item {
      margin-bottom: 10%;
      padding-right: 7%;
      height: 5%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      text-align: right;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .blog__nav__item--active {
        border-right: 0.1875rem solid #4e8839;
        font-family: robotobold;
        color: #4e8839; }
  .blog__list {
    width: 70%; }
    .blog__list__post {
      margin-bottom: 10%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: relative; }
      .blog__list__post::after {
        content: ' ';
        position: absolute;
        bottom: -6%;
        width: 70%;
        height: 0.3125rem;
        background-color: #373e42;
        opacity: 0.1; }
      .blog__list__post__title {
        color: #455a64;
        font-family: "Sansus Webissimo";
        font-size: 2.1875rem;
        font-weight: 400;
        line-height: 2.5625rem; }
      .blog__list__post__date {
        opacity: 0.7;
        color: #4e8839;
        font-family: Roboto;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.5625rem; }
      .blog__list__post__it {
        margin-top: 1%; }
        .blog__list__post__it__img-pic {
          max-width: 100%; }
        .blog__list__post__it__txt {
          color: #455a64;
          font-family: Roboto;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.625rem;
          margin-bottom: 2%; }

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("../../img/bg/forest.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .hero--blog {
    width: 100vw;
    height: 65vh;
    background-size: cover; }
  .hero--about::after {
    content: ' ';
    position: absolute;
    height: 40%;
    width: 100%;
    top: 20%;
    background-image: url("../../img/icons/about_header-w.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: .2; }
    @media screen and (max-width: 1024px) {
      .hero--about::after {
        height: 80%;
        width: 80%;
        top: 5%; } }
  .hero--works::after {
    content: ' ';
    position: absolute;
    height: 40%;
    width: 100%;
    top: 20%;
    background-image: url("../../img/icons/portfolio_header.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: .2; }
    @media screen and (max-width: 1024px) {
      .hero--works::after {
        height: 85%;
        width: 85%;
        top: 5%; } }

.header {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2.5% 0 2.5%; }
  .header--blog {
    height: 15%; }
  .header .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .header .socials-svg {
      margin-right: 1.25rem;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      fill: white; }
      .header .socials-svg:hover {
        opacity: .7; }
  .header__menu {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .header__menu:hover {
      opacity: .7;
      cursor: pointer; }

.hero__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .hero__bottom .triangles-svg {
    position: absolute; }
    @media screen and (max-width: 768px) {
      .hero__bottom .triangles-svg .cls-1, .hero__bottom .triangles-svg .cls-2 {
        fill: #ebefe2; } }

.welcome__main__info__who--about {
  z-index: 10; }

.hero__about-svg {
  width: 70%;
  height: 40%;
  fill: white;
  opacity: 0.35;
  z-index: -1;
  position: absolute;
  top: 20%; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .about {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.about__main {
  background: #EBEFE2;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 3% 3% 2% 7%; }
  @media screen and (max-width: 1024px) {
    .about__main {
      padding: 5% 1% 15% 1%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 768px) {
    .about__main {
      width: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 1024px) {
    .about__main__title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .about__main__title__txt {
    text-align: center;
    font-family: sansus;
    font-size: 3.9375rem;
    color: #373e42;
    margin-top: 0px;
    margin-bottom: 70px;
    text-transform: uppercase;
    position: relative; }
    .about__main__title__txt::after {
      content: ' ';
      background: #373e42;
      width: 5.5625rem;
      height: 0.1875rem;
      position: absolute;
      top: 105%;
      left: 30%; }
    .about__main__title__txt::before {
      content: ' ';
      background-image: url("../../img/icons/about_header-g.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      opacity: 0.1;
      left: -30%;
      top: -55%;
      height: 170%;
      width: 170%; }
      @media screen and (max-width: 1024px) {
        .about__main__title__txt::before {
          left: -10%;
          top: -30%;
          width: 135%;
          height: 135%; } }
  .about__main__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 75%;
    width: 55%; }
    .about__main__info__photo {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 10%; }
      .about__main__info__photo__pic {
        max-width: 55%; }
    .about__main__info__desc {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 45%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .about__main__info__desc__title {
        font-family: sansus;
        font-size: 2.1875rem;
        color: #566358;
        margin-bottom: 40px;
        text-transform: uppercase;
        position: relative; }
        .about__main__info__desc__title::after {
          content: ' ';
          background: #566358;
          width: 5.5625rem;
          height: 0.1875rem;
          position: absolute;
          top: 120%;
          left: -5%; }
          @media screen and (max-width: 1280px) {
            .about__main__info__desc__title::after {
              left: 33%; } }
        @media screen and (max-width: 1280px) {
          .about__main__info__desc__title::after {
            left: -5%; } }
      .about__main__info__desc__txt {
        font-family: roboto;
        font-size: 1rem;
        color: #566358;
        text-align: left; }
        @media screen and (max-width: 1024px) {
          .about__main__info__desc__txt {
            width: 165%; } }
        @media screen and (max-width: 768px) {
          .about__main__info__desc__txt {
            width: 80%; } }

.about__skills {
  background: #F4F5F0;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 3% 0% 2% 3%; }
  @media screen and (max-width: 1024px) {
    .about__skills {
      padding: 5% 1% 5% 4%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 768px) {
    .about__skills {
      width: 100%;
      height: 100%;
      padding: 0% 0% 0% 0%; } }
  .about__skills__title {
    font-family: sansus;
    font-size: 2.1875rem;
    color: #566358;
    margin-bottom: 40px;
    text-transform: uppercase;
    position: relative;
    text-align: center; }
    .about__skills__title::after {
      content: ' ';
      background: #566358;
      width: 5.5625rem;
      height: 0.1875rem;
      position: absolute;
      top: 120%;
      left: 32%; }
      @media screen and (max-width: 1280px) {
        .about__skills__title::after {
          left: 33%; } }
  .about__skills__info {
    font-family: roboto;
    font-size: 1rem;
    color: #566358;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (max-width: 768px) {
      .about__skills__info {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    .about__skills__info__desc {
      width: 70%; }
    .about__skills__info__list {
      height: 90%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      @media screen and (max-width: 1024px) {
        .about__skills__info__list {
          width: 90%;
          height: 76%; } }
      .about__skills__info__list__item {
        width: 100%;
        height: 32%; }
        .about__skills__info__list__item .skill {
          height: 65%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .about__skills__info__list__item .skill--backend {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between; }
            @media screen and (max-width: 1024px) {
              .about__skills__info__list__item .skill--backend .skill__item {
                margin-right: 0%; } }
          .about__skills__info__list__item .skill__item {
            width: 16%;
            height: 100%;
            background: #4e8839;
            margin-right: 9%; }
            @media screen and (max-width: 1280px) {
              .about__skills__info__list__item .skill__item {
                width: 20%; } }
        .about__skills__info__list__item__title {
          color: #566358;
          font-family: robotomedium;
          font-size: 1.75rem; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 11.5625rem;
  position: absolute;
  bottom: 0%; }
  @media screen and (max-width: 1024px) {
    .footer {
      font-size: 14px; } }
  .footer--blog {
    position: static; }

.footer__main {
  height: 80%;
  background-color: #373e42;
  opacity: 0.85; }
  .footer__main__list {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    font-family: roboto;
    font-size: 1rem;
    color: white; }
    .footer__main__list__item {
      padding-left: 1.5%;
      height: 70%;
      width: 30%;
      border-left: 0.0625rem solid rgba(255, 255, 255, 0.2); }
      @media screen and (max-width: 1024px) {
        .footer__main__list__item {
          font-size: 14px; } }
      .footer__main__list__item:first-child {
        border-left: none;
        padding-left: 0%; }
      .footer__main__list__item--nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
      .footer__main__list__item__nav {
        font-family: robotomedium;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .footer__main__list__item__nav__link {
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          .footer__main__list__item__nav__link:hover {
            opacity: .6; }
          .footer__main__list__item__nav__link--active {
            cursor: pointer;
            opacity: .6; }
      .footer__main__list__item .socials {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .footer__main__list__item .socials-svg {
          opacity: 0.5;
          margin-right: 1.25rem;
          -webkit-transition: .2s;
          -o-transition: .2s;
          transition: .2s;
          fill: white; }
          .footer__main__list__item .socials-svg:hover {
            opacity: 1; }
      .footer__main__list__item .phrase {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .footer__main__list__item .phrase__txt {
          opacity: 0.6;
          color: #ffffff;
          font-family: "robotolight_italic";
          font-size: 1rem; }
        .footer__main__list__item .phrase__author {
          font-family: robotomedium_italic;
          opacity: .8;
          color: white; }

.footer__cr {
  height: 20%;
  background-color: #6c9c5a;
  opacity: 0.85;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: robotolight; }

.map {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

#map {
  height: 100%;
  width: 100%; }

.contacts {
  width: 20%;
  height: 35%;
  background-color: #f4f5f0;
  opacity: 0.85;
  position: absolute;
  top: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2% 1% 2% 1%; }
  .contacts__title {
    font-family: sansus;
    font-size: 2.1875rem;
    color: #373e42;
    margin-bottom: 40px;
    text-transform: uppercase;
    position: relative; }
    .contacts__title::after {
      content: ' ';
      background: #373e42;
      width: 5.5625rem;
      height: 0.1875rem;
      position: absolute;
      top: 130%;
      left: 21%; }
      @media screen and (max-width: 1280px) {
        .contacts__title::after {
          left: 33%; } }
    @media screen and (max-width: 1024px) {
      .contacts__title::after {
        left: 21%; } }
  .contacts__list {
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 90%; }
    .contacts__list__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: #373e42;
      font-family: Roboto;
      font-size: 1rem; }
      .contacts__list__item__icon {
        margin-right: 7%; }
      .contacts__list__item__txt {
        color: #373e42; }

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.works__title {
  height: 18%;
  width: 100%;
  background-color: #f8f9f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .works__title__txt {
    font-family: sansus;
    font-size: 3.9375rem;
    color: #373e42;
    margin-top: 70px;
    margin-bottom: 70px;
    text-transform: uppercase;
    position: relative; }
    .works__title__txt::after {
      content: ' ';
      background: #373e42;
      width: 5.5625rem;
      height: 0.1875rem;
      position: absolute;
      top: 100%;
      left: 35%; }
    .works__title__txt::before {
      content: ' ';
      background-image: url("../../img/icons/works_header-g.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      height: 150%;
      width: 150%;
      top: -30%;
      opacity: .1;
      left: -25%; }

.works__main {
  height: 82%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .works__main__info {
    background-color: #ebefe2;
    height: 100%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .works__main__info__title {
      font-family: sansus;
      font-size: 2.1875rem;
      color: #566358;
      margin-bottom: 40px;
      text-transform: uppercase;
      position: relative;
      line-height: 2.5625rem; }
      .works__main__info__title::after {
        content: ' ';
        background: #566358;
        width: 5.5625rem;
        height: 0.1875rem;
        position: absolute;
        top: 130%;
        left: 37%; }
        @media screen and (max-width: 1280px) {
          .works__main__info__title::after {
            left: 33%; } }
    .works__main__info__techs {
      font-family: roboto;
      font-size: 1rem;
      color: #4e8839;
      font-family: robotomedium;
      text-transform: uppercase; }
    .works__main__info__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 15%;
      width: 60%;
      border-radius: 1.5625rem;
      background: #6c9c5a;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      @media screen and (max-width: 1280px) {
        .works__main__info__link {
          width: 85%; } }
      @media screen and (max-width: 1024px) {
        .works__main__info__link {
          width: 90%; } }
      .works__main__info__link:hover {
        background-color: #4e8839; }
      .works__main__info__link__txt {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 80%; }
    .works__main__info__wrap {
      width: 40%;
      height: 40%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; }
      @media screen and (max-width: 1280px) {
        .works__main__info__wrap {
          height: 50%; } }
  .works__main .works__main__projects {
    height: 100%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #e1e4d7; }
    .works__main .works__main__projects__present {
      width: 100%;
      height: 70%;
      background: url("../../img/content/project-1.png");
      background-repeat: no-repeat;
      background-position: center; }
    .works__main .works__main__projects__switch {
      height: 30%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .works__main .works__main__projects__switch__next {
        width: 50%;
        height: 100%;
        background: url("../../img/content/next.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      .works__main .works__main__projects__switch__previous {
        width: 50%;
        height: 100%;
        background: url("../../img/content/previous.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }

.feed {
  height: 77.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }

.feed__main {
  background-image: url("../../img/bg/feedback.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.feed__wrap {
  height: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.feed__title {
  height: 10.625rem;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .feed__title__txt {
    font-family: sansus;
    font-size: 3.9375rem;
    color: #373e42;
    margin-top: 70px;
    margin-bottom: 70px;
    text-transform: uppercase;
    position: relative; }
    .feed__title__txt::after {
      content: ' ';
      background: #373e42;
      width: 5.5625rem;
      height: 0.1875rem;
      position: absolute;
      top: 130%;
      left: 40%; }
    .feed__title__txt::before {
      content: ' ';
      background-image: url("../../img/icons/about_header-g.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      opacity: .1;
      left: 0%;
      top: -35%;
      height: 160%;
      width: 100%; }

.feed__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 60%;
  height: 27%; }
  @media screen and (max-width: 1280px) {
    .feed__list {
      width: 75%; } }
  .feed__list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 49%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
    .feed__list__item::before {
      content: ' ';
      position: absolute;
      height: 55%;
      width: 55%;
      top: 22%;
      left: -16%;
      opacity: .2;
      background-image: url("../../img/icons/quotes.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain; }
    .feed__list__item__photo {
      overflow: hidden; }
      .feed__list__item__photo-pic {
        border-radius: 150%;
        width: 6.25rem;
        height: 6.25rem; }
    .feed__list__item__txt {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 50%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .feed__list__item__txt__phrase {
        font-family: roboto;
        font-size: 1rem;
        color: #373e42;
        font-family: robotoitalic; }
      .feed__list__item__txt__desc__author {
        font-family: roboto;
        font-size: 1rem;
        color: #4e8839;
        font-family: robotobold_italic; }
      .feed__list__item__txt__desc__whois {
        font-family: roboto;
        font-size: 1rem;
        color: #373e42;
        font-family: robotoitalic; }

.form {
  width: 25%;
  height: 50%;
  background-color: rgba(218, 219, 214, 0.5);
  border-radius: 0.4375rem;
  padding-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden; }
  @media screen and (max-width: 1280px) {
    .form {
      width: 32%; } }
  .form__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .form__title__label {
      font-family: sansus;
      font-size: 2.1875rem;
      color: #566358;
      margin-bottom: 40px;
      text-transform: uppercase;
      position: relative;
      text-align: center; }
      .form__title__label::after {
        content: ' ';
        background: #566358;
        width: 5.5625rem;
        height: 0.1875rem;
        position: absolute;
        top: 130%;
        left: 35%; }
        @media screen and (max-width: 1280px) {
          .form__title__label::after {
            left: 33%; } }
  .form__inputs {
    margin-top: 3%;
    height: 60%;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .form__inputs__field {
      opacity: .85;
      border-radius: 1.5625rem;
      width: 100%;
      height: 17%;
      padding: 5% 5% 5% 7%;
      border: none;
      outline: none;
      font-family: roboto;
      font-size: 1rem;
      color: #373e42;
      border: 0.125rem solid transparent;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .form__inputs__field:focus {
        border: 0.125rem solid #4e8839; }
    .form__inputs #msg {
      resize: none;
      height: 50%;
      border-radius: 1.5625rem;
      line-height: 1.6; }
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    width: 100%; }
    .form__btns__btn {
      height: 100%;
      width: 50%;
      background: #4e8839;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      cursor: pointer;
      font-family: roboto;
      font-size: 1rem;
      color: white;
      opacity: .8;
      border: none;
      outline: none; }
      .form__btns__btn:first-child {
        border-right: 0.125rem solid white; }
      .form__btns__btn:hover {
        background: #6c9c5a; }

.feed__leaves-pic {
  position: absolute; }
  .feed__leaves-pic--1 {
    position: absolute;
    top: 25%;
    left: 25%; }
  .feed__leaves-pic--2 {
    position: absolute;
    top: -8%;
    left: 15%; }
  .feed__leaves-pic--3 {
    position: absolute;
    top: 30%;
    right: 10%; }

.polygon {
  border: 0.3125rem solid red;
  width: 100%;
  height: 100%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3.5%;
  padding-bottom: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0.625rem 0 0 1.25rem; }

.checkbox + label {
  width: 1.875rem;
  height: 1.875rem;
  background: #4e8839;
  border-radius: 0.3125rem;
  cursor: pointer;
  position: relative; }

.checkbox:checked + label::after {
  content: ' ';
  background: url("../../img/icons/check.svg") no-repeat;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 26%;
  left: 20%; }

.radio-1 {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0.625rem 0 0 1.25rem; }

.radio-1 + label {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 55%;
  cursor: pointer;
  border: 0.0625rem solid #373e42;
  background: white;
  position: relative; }

.radio-1:checked + label::after {
  content: ' ';
  width: 0.625rem;
  height: 0.625rem;
  background-color: #4e8839;
  position: absolute;
  border-radius: 50%;
  top: 35%;
  left: 30%; }

.radio-2 {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0.625rem 0 0 1.25rem; }

.radio-2 + label {
  width: 1.875rem;
  height: 1.875rem;
  border: 0.0625rem solid #373e42;
  background: white;
  border-radius: 55%;
  cursor: pointer;
  position: relative; }

.radio-2:checked + label::after {
  content: ' ';
  width: 0.625rem;
  height: 0.625rem;
  background-color: #4e8839;
  position: absolute;
  border-radius: 50%;
  top: 30%;
  left: 30%; }

.no {
  color: red;
  position: absolute;
  left: 150%;
  width: 6.25rem; }

.yes {
  color: #6c9c5a;
  position: absolute;
  left: 150%;
  width: 6.25rem; }

.human {
  color: #4e8839;
  position: absolute;
  left: 150%;
  width: 6.25rem; }

#modal_form {
  width: 18.75rem;
  height: 18.75rem;
  /* Рaзмеры дoлжны быть фиксирoвaны */
  background: #6c9c5a;
  position: fixed;
  /* чтoбы oкнo былo в видимoй зoне в любoм месте */
  top: 45%;
  /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
  left: 50%;
  /* пoлoвинa экрaнa слевa */
  margin-top: -9.375rem;
  margin-left: -9.375rem;
  /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
  display: none;
  /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
  opacity: 0;
  /* пoлнoстью прoзрaчнo для aнимирoвaния */
  z-index: 100;
  /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
  padding: 3% 0% 3% 0%;
  border-radius: 0.3125rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #modal_form .modal__link {
    color: white; }
    #modal_form .modal__link:hover {
      text-decoration: underline; }

/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
  width: 1.3125rem;
  height: 1.3125rem;
  position: absolute;
  top: 3%;
  right: 2%;
  cursor: pointer;
  display: block;
  color: white; }

/* Пoдлoжкa */
#overlay {
  z-index: 50;
  /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
  position: fixed;
  /* всегдa перекрывaет весь сaйт */
  background-color: #111;
  /* чернaя */
  opacity: 0.8;
  /* нo немнoгo прoзрaчнa */
  -moz-opacity: 0.8;
  /* фикс прозрачности для старых браузеров */
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  /* рaзмерoм вo весь экрaн */
  top: 0;
  /* сверху и слевa 0, oбязaтельные свoйствa! */
  left: 0;
  cursor: pointer;
  display: none;
  /* в oбычнoм сoстoянии её нет) */ }
